html, body{
    margin: 0;
}
.App {
    text-align: center;
}
html, body, #root{
    height: 100%;
}
.app{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.app-header, .app-footer {
    background-color: #06245f;
    height: 4rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}
.app-content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main{
    height: 100%;
    padding: 1rem;
}
.app-footer{
    justify-content: space-around;
}
.max-fizz-buzz-input{
    margin: 1rem 1rem 1rem 0;
    width: 15rem;
}
.fizz-buzz-input-form label{
    display: block;
}
.fizz-buzz-list{
    list-style: none;
}
.FIZZ{
    color: #0000ff;
}
.BUZZ{
    color: #00FF00;
}
.FIZZBUZZ{
    color: #ff0000;
}
.primary-btn{
    color: #ffffff;
    background-color: #06245f;
    padding: 0.2rem 0.5rem;
    margin-right: 1rem;
    border: none; 
}
.primary-btn:hover:enabled{
    box-shadow: 1px 0px 2px #0000ff;
}
.primary-btn:active {
    background-color: #2c2ca5; 
}
.primary-btn:disabled{
    background: #cccccc;  
}
  